*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

nav{
    flex: 1;
    text-align: right;
}
nav button{
    background-color: transparent;
    border: none;
    outline: none;
}

nav button:hover{
    transform: scale(1.03);
    color: #000;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
    margin-bottom: 3px;
}

.fa{
    font-style: normal;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
  
.label-warning[href], .badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row, .row-products, .row-cart{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;  
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background: #555d60;
    color: #f3f3f3;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover{
    background: #000;
}

.btn:active{
    background: red;
    color: white;
}

.header{
    background: linear-gradient(#f6f6f6,#fafafa);
}

.header .row{
    margin-top: 50px;
    margin-bottom: 50px;
}

.slideshow{
    overflow: hidden;
    box-shadow: 10px 10px 50px #000;
    margin-bottom: 50px;
    width: vw;
    height: vh;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
    animation: slide 20s infinite;
}

.slides input{
    display: none;
  }
  
.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    height: 100%;
}
  
.navigation-manual{
    position: absolute;
    display: flex;
    margin: -25px 50px 10px 50px;
}
  
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
  
.manual-btn:not(:last-child){
    margin-right: 20px;
}
  
.manual-btn:hover{
    background: #40D3DC;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}
  
#radio5:checked ~ .first{
    margin-left: -80%;
}
        
.regular{
    margin: 70px 0;
}

.content-container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 25px;
}

.content-container h2{
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-3{
    flex-basis: 33%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 120px;
    transition: 500ms;
}

.col-3 img{
    width: 100%;
    margin: 10px;
}

.col-3 h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
}

.col-3 p{
    font-size: 16px;
    font-weight: bold;
}

.col-3:hover{
    transform: scale(1.05);
}

.buy{
    background: #555d60;
    color: #f3f3f3;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    right: 10px;
    position: fixed;
    margin-top: 0px;
}

.buy:hover{
    background: linear-gradient(#555d60,#333);
}

.buy:active{
    background: linear-gradient(#333,#555d60);
    color: white;
}

.description{
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-hidden{
    flex-basis: 50%;
    min-width: 300px;
}

.item-hidden p{
    color: #555;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}


.footer{
    background-color: #222;
    padding: 70px;
}

.footer p{
    text-align: center;
    font-size: 15px;
}

#credits{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 10px 26px;
    background-color: #e1e1e1;
    color: #555;
}
  
.modal-body {padding: 2px 16px;}
  
.modal-footer {
    display: flex;
    padding: 2px 16px;
    background-color: #e1e1e1;
    color: #555;
}
.col-footer{
    flex: 50%;

}

.modal-footer button{
    background: #555d60;
    color: #f3f3f3;
    padding: 8px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.modal-footer button:hover{
    background: linear-gradient(#555d60,#333);
}

.modal-footer button:active{
    background: linear-gradient(#333,#555d60);
    color: white;
}

.col-cart{
    flex-basis: 15%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 120px;
    transition: 500ms;
}

.col-cart img{
    width: 100%;
    margin: 10px;
}

.col-cart h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
}

.col-cart p{
    font-size: 16px;
    font-weight: bold;
}

.col-cart:hover{
    transform: scale(1.05);
}

.cart-item-qty{
    margin-bottom: 10px;
    margin-top: 10px;
}

.cart-item-del-btn{
    background: linear-gradient(#555d60,#333);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    float: right;
    font-size: 11px;
    font-weight: bold;
}

.cart-item-del-btn:hover, 
.cart-item-del-btn:focus{    
    background: linear-gradient(#333,#555d60);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

